{% extends "layout.html" %}
{% block content %}
<div class="post-detail">
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p>Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <div class="post-content">
            {{ post.content }}
        </div>
    </div>
    <hr>
    <div class="comments">
        <h3>Comments</h3>
        {% for comment in post.comments %}
            <div class="comment">
                <strong>{{ comment.user.username }}</strong> commented on {{ comment.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}:
                <p>{{ comment.content }}</p>
            </div>
        {% else %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
